<!--CREATE A QUEST PAGE
<!--    users enter steps and submit quest-->
<!---->-->

<!--<% include partials/header %>-->

<!--title and category input-->
<!--<div class = "container">-->
<!--    <div class="row">-->
<!--        <h1 class="text-center title">Edit Your Quest</h1>-->
<!--        <div class="post">-->
<!--            <form action="/q/<%= quests._id %>" method="POST" >-->
<!--                <div class="form-group" style="padding-left:5px; padding-right: 5px;">-->
<!--                    <label>Title</label>-->
<!--                    <input class="form-control" type="text" name="title" value="<%=quests.title %>" required>-->
<!--                </div>-->
<!--                <div class="form-group" style="padding-left:5px; padding-right: 5px;">-->
<!--                    <label>Category</label>-->
<!--                    <input class="form-control" type="text" name="category" value="<%= quests.category %>" required>-->
<!--                </div><br>-->
                
                <!--step 1 input box-->
<!--            <% for(var i = 0; i < quests.stepnum; i++) { %>-->
<!--                <div id="step0" class="panel panel-default">-->
<!--                  <div class="panel-body">-->
<!--                    <h4 class="stepTitle">Step <%=i + 1 %></h4>-->
<!--                    <div class="form-group">-->
<!--                        <label>Clue</label>-->
<!--                        <input class="form-control" type="text" name="steps[0][0]" value="<%= quests.steps[i].clue %>" required>-->
<!--                    </div>-->
<!--                    <div class="dropdown">-->
<!--                      <button class="btn btn-default dropdown-toggle" name = "type" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
<!--                        Dropdown-->
<!--                        <span class="caret"></span>-->
<!--                      </button>-->
<!--                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
<!--                        <li><a href="#" data-value="webpage">webpage</a></li>-->
<!--                        <li><a href="#" data-value="map">map</a></li>-->
<!--                        <li><a href="#" data-value="image">image</a></li>-->
<!--                        <li><a href="#" data-value="wiki">wiki</a></li>-->
<!--                        <li><a href="#" data-value="youtube">youtube</a></li>-->
<!--                      </ul>-->
                    
<!--                    </div>-->
<!--                        <label>Link</label>-->
<!--                        <input class="form-control" type="text" name="steps[0][2]" id="link0" value ="<%= quests.steps[i].link %>" required>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label>Answer</label>-->
<!--                        <input class="form-control" type="text" name="steps[0][3]" value="<%= quests.steps[i].answer %>" required>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--            <% } %>-->
<!--                <div class="form-group">-->
<!--                    <div class="btn-group" style="padding-left:5px; padding-right: 5px;" role="group">-->
<!--                        <button style="display:none;" type="button" onclick="removeStep();" id="remove" class="btn btn-default qualluRed">Delete Step</button>-->
<!--                        <button type="button" class="btn btn-default qualluBlueFill" onclick="addStep()">Add Step</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <button class="btn btn-sm btn-default center-block qualluBlue" type="submit" value="submit request" onclick="return btnClick()">Submit Changes</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
    

<!--<script type = 'text/javascript'>-->
//count increases when 'add step' button is pressed
<!--var count = 1;-->
<!--var flag = true;-->
// document.getElementById('id').value = Date.now();
// //default text displayed in link input box before Quest type button is pressed
<!--var linkInstructions = "Choose a type of step.";-->
// document.getElementById('link0').setAttribute('placeholder', linkInstructions)

// //the following 4 functions trigger the right radio button and change the placeholder text for link URL
// function changeWeb(clicked_name){
//         var style = 'type' + clicked_name
//         var type = document.getElementsByClassName(style);
//         type[0].style.backgroundColor = '#A270FF';
//         type[1].style.backgroundColor = 'white';
//         type[2].style.backgroundColor = 'white';
//         type[3].style.backgroundColor = 'white';
//         type[4].style.backgroundColor = 'white';
//         var link = "link" + clicked_name;
//         var webpage = "webpage" + clicked_name;
//         linkInstructions = "Paste the address of the webpage here.";
//          document.getElementById(link).setAttribute('placeholder', linkInstructions);
//          document.getElementById(webpage).checked = true;
//          document.getElementById('selected'+ clicked_name).innerHTML = "Webpage";
// }

// function changeWiki(clicked_name){
//         var style = 'type' + clicked_name
//         var type = document.getElementsByClassName(style);
//         type[0].style.backgroundColor = 'white';
//         type[1].style.backgroundColor = '#A270FF';
//         type[2].style.backgroundColor = 'white';
//         type[3].style.backgroundColor = 'white';
//         type[4].style.backgroundColor = 'white';
//         var link = "link" + clicked_name;
//         var wiki = "wiki" + clicked_name;
//         linkInstructions = "Paste the address of the wikipedia page here.";
//          document.getElementById(link).setAttribute('placeholder', linkInstructions);
//          document.getElementById(wiki).checked = true;
//          document.getElementById('selected'+ clicked_name).innerHTML = "Wikipedia";
// }

// function changeYou(clicked_name){
//         var style = 'type' + clicked_name
//         var type = document.getElementsByClassName(style);
//         type[0].style.backgroundColor = 'white';
//         type[1].style.backgroundColor = 'white';
//         type[2].style.backgroundColor = '#A270FF';
//         type[3].style.backgroundColor = 'white';
//         type[4].style.backgroundColor = 'white';
//         var link = "link" + clicked_name;
//         var youtube = "youtube" + clicked_name;
//         linkInstructions = "Paste the address of the Youtube video here.";
//          document.getElementById(link).setAttribute('placeholder', linkInstructions);
//          document.getElementById(youtube).checked = true;
//          document.getElementById('selected'+ clicked_name).innerHTML = "Youtube";
// }

// function changeMaps(clicked_name){
//         var style = 'type' + clicked_name
//         var type = document.getElementsByClassName(style);
//         type[0].style.backgroundColor = 'white';
//         type[1].style.backgroundColor = 'white';
//         type[2].style.backgroundColor = 'white';
//         type[3].style.backgroundColor = '#A270FF';
//         type[4].style.backgroundColor = 'white';
//         var link = "link" + clicked_name;
//         var maps = "maps" + clicked_name;
//         linkInstructions = "Enter an address, location, or city here.";
//          document.getElementById(link).setAttribute('placeholder', linkInstructions);
//          document.getElementById(maps).checked = true;
//          document.getElementById('selected'+ clicked_name).innerHTML = "Google Maps";
// }

// function changeImage(clicked_name){
//         var style = 'type' + clicked_name
//         var type = document.getElementsByClassName(style);
//         type[0].style.backgroundColor = 'white';
//         type[1].style.backgroundColor = 'white';
//         type[2].style.backgroundColor = 'white';
//         type[3].style.backgroundColor = 'white';
//         type[4].style.backgroundColor = '#A270FF';
//         var link = "link" + clicked_name;
//         var image = "image" + clicked_name;
//         linkInstructions = "Copy the image address and paste it here.";
//          document.getElementById(link).setAttribute('placeholder', linkInstructions);
//          document.getElementById(image).checked = true;
//          document.getElementById('selected'+ clicked_name).innerHTML = "Image";
// }

<!--function removeStep() {-->
<!--    if(count==2)-->
<!--        document.getElementById('remove').style.display = "none";-->
<!--    var id = 'step'+ (count-1);-->
<!--    $("#" + id).remove();-->
<!--    count--;-->
<!--    $(document).ready(function() {-->
<!--    $('#step' + (count-1)).effect("highlight", {color: '#3FA9F5'}, 500);-->
<!--    });-->
    // $("html, body").animate({ scrollTop: $('#step' + (count-2)).offset().top }, 1000);
<!--}-->

//this function adds the next step and increases count
<!--function addStep(){-->
<!--    document.getElementById('remove').style.display = "block";-->
<!--    flag = true;-->
<!--    var str = '<div id="step'+count+'" class="panel panel-default">'+-->
<!--'                  <div class="panel-body">'+-->
<!--'                    <h4 class="stepTitle">Step '+(count+1)+'</h4>'+-->
<!--'                    <div class="form-group">'+-->
<!--'                        <label>Clue</label>'+-->
<!--'                        <input class="form-control" type="text" name="steps['+count+'][0]" placeholder="Instructions for this step." required>'+-->
<!--'                    </div>'+-->
<!--'                    <div class="form-group">'+-->
<!--'                        <label>Type of Step</label><br>'+-->
<!--'                        <div class="btn-group" role="group" aria-label="...">'+-->
<!--'                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">'+-->
<!--'                                <span id="selected'+count+'">Select Step Type</span>'+-->
<!--'                                <span class="caret"></span>'+-->
<!--'                            </button>'+-->
<!--'                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">'+-->
<!--'                                <li><a class="type'+count+'" name="'+count+'" id="select" onclick="changeWeb(this.name)">Webpage</a></li>'+-->
<!--'                                <li><a class="type'+count+'" name="'+count+'" id="select" onclick="changeWiki(this.name)">Wikipedia</a></li>'+-->
<!--'                                <li><a class="type'+count+'" name="'+count+'" id="select" onclick="changeYou(this.name)">Youtube</a></li>'+-->
<!--'                                <li><a class="type'+count+'" name="'+count+'" id="select" onclick="changeMaps(this.name)">Google Maps</a></li>'+-->
<!--'                                <li><a class="type'+count+'" name="'+count+'" id="select" onclick="changeImage(this.name)">Image</a></li>'+-->
<!--'                            </ul>'+-->
<!--'                        </div>'+-->
<!--'                    </div>'+-->
<!--'                    <input style="display: none" type="radio" name="steps['+count+'][1]" id="webpage'+count+'" value="webpage" required>'+-->
<!--'                    <input style="display: none" type="radio" name="steps['+count+'][1]" id="wiki'+count+'" value="wiki" required>'+-->
<!--'                    <input style="display: none" type="radio" name="steps['+count+'][1]" id="youtube'+count+'" value="youtube" required>'+-->
<!--'                    <input style="display: none" type="radio" name="steps['+count+'][1]" id="maps'+count+'" value="map" required>'+-->
<!--'                    <input style="display: none" type="radio" name="steps['+count+'][1]" id="image'+count+'" value="image" required>'+-->
<!--'                    <div class="form-group">'+-->
<!--'                        <label>Link</label>'+-->
<!--'                        <input class="form-control" type="text" name="steps['+count+'][2]" placeholder="Choose a type of step above." id="link'+count+'" required>'+-->
<!--'                    </div>'+-->
<!--'                    <div class="form-group">'+-->
<!--'                        <label>Answer</label>'+-->
<!--'                        <input class="form-control" type="text" name="steps['+count+'][3]" placeholder="Answer to step" required>'+-->
<!--'                    </div>'+-->
<!--'                  </div>'+-->
<!--'                </div>',-->
<!--    div = document.getElementById( 'step'+(count-1)+'' );-->

<!--    div.insertAdjacentHTML( 'afterend', str );-->
<!--    $("html, body").animate({ scrollTop: $(document).height() }, 1000);-->
<!--    count++;-->
<!--}-->

//this function makes sure that a Quest is > 1 step
<!--function btnClick() {-->
<!--    if (!flag){-->
<!--        alert("A Quest cannot be 1 step. Please add a step to have a valid Quest.")-->
<!--        return false;-->
        
<!--    } else-->
<!--        return true;-->
<!--}-->

<!--$(".dropdown-menu li a").click(function(){-->
<!--  $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');-->
<!--  $(this).parents(".dropdown").find('.btn').val($(this).data('value'));-->
<!--});-->


<!--</script>-->

<!--<% include partials/footer %>-->


